<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <h2>Request password reset</h2>
    <%= form_tag password_resets_path, :method => :post do %>
      <div class="form-group">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email], class:'form-control' %>
      </div>
      <div class="actions">
        <%= submit_tag "Reset Password", class:'btn btn-default' %>
      </div>
    <% end %>
  </div>
  <div class="col-md-2">
  </div>
</div>