<h1>Contact info</h1>

<div class="well">
<p>My name is Rami Burpee.  I am a student in General Assembly's WDI program.</p>
<p>You can find me on <%= link_to "github", "https://github.com/ramijan", target:'_blank' %> or <%= link_to "linkedin", "https://www.linkedin.com/pub/rami-burpee/18/8b8/a56", target:'_blank' %></p>
</div>