<h1>Game list</h1>

<% @games.each do |game| %>
<%= link_to game_path(game), class:"search-link" do %>
<div class="row game-row">
  <div class="col-md-2">
  <%= image_tag game[:image_urls][:thumb_url], class:"img-thumbnail search-img", width:'175' %>
  </div>
  <div class="col-md-6">
  <h3 class="title"><%= game.name %></h3>
  <p><%= game.deck %></p>
  <p>
    Average rating: 
    <% rand(1..5).times do %>
      <span class="glyphicon glyphicon-star"></span>
    <% end %>
  </p>
  </div>
  <% end %>
  <div class="col-md-4">
  </div>

</div>




<% end %>