<h1>Game list</h1>

<% @games.each do |game| %>

 
<%= image_tag game[:image_urls][:thumb_url], class:"img-thumbnail", size:"150x150" %>
<h4><%= link_to game.name, game_path(game) %></h4><br>



<% end %>