
.search-link {
  color: #333;
}

.search-link:hover {
  color: #333;

}

.glyphicon {
  color: yellow;
}

.game-row {
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
}



.navbar-link.right {
  margin-right: 10px;
  border-left: 1px solid #9D9D9D;
}

.navbar-brand h3 {
  margin-top: -5px;
  margin-bottom: 0;
}

.title {
  margin-top: 0;
}