
.search-link {
  color: #333;
}

.search-link:hover {
  color: #333;

}

.glyphicon-star {
  color: yellow;
}

.game-row {
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-link.right {
  margin-right: 10px;
  border-left: 1px solid #9D9D9D;
}

.navbar-brand h3 {
  margin-top: -5px;
  margin-bottom: 0;
}

.title {
  margin-top: 0;
}

.glyphicon-search {
  color: #222222;
}

.float-left {
  float: left;
  padding-right: 0 !important;
}

.float-right {
  float: right;
  padding-left: 5px !important;
  margin-right: 15px;
}

ul.dropdown-menu {
  margin-right: 15px;
  text-align: center;
}

span.left {
  float: left;
}
span.right {
  float: right;
}
/*
.btn-group-vertical button {
  padding-left: 5px;
  padding-right: 5px;
}
*/