<div class="row">
<div class="col-md-1">
</div>
<div class="col-md-9">
  <h2>Add <a href=""></a> review for <%= @game.name %></h2>
  <%= render 'reviews/form' %>
</div>

<div class="col-md-2">
</div>
</div>
